#map {
        height: 500px;
        width: 800px;
        margin: auto;
        border-radius: 20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
#map::before {
        content: "LOADING";
        font-size: 3em;
        text-align: center;
        width: 100%;
        position: absolute;
        margin-top: 3em;
        background-color: gray;
}

.leaflet-popup-content-wrapper {
        width: 100%;
}
html {
        background-color: thistle;
}
form {
        display: flexbox;
        flex-wrap: wrap;
        width: 5em;
}
select{
        height: 3em;
        border: 2px groove black;
}
button{
        margin-left: 1.5em;
        margin-top: 1em;
}